<header class="masthead hidden-print" id="branding" role="banner">
  <div class="navigation">

    <div class="col-4_xs-12_grid-center">
      {% assign logo_path = site.logo | default: "/images/logo.svg" %}
      {% assign has_logo = site.static_files | where: "path", logo_path %}

      {% if has_logo[0] %}
        <h1><a href="{{ site.baseurl }}"><img id="logo" class="logo is-svg" alt="{{ site.title }}" src="{{ logo_path | prepend: site.baseurl }}"></a></h1>
      {% else %}
        <h1><a href="/">{{ site.title }}</a></h1>
      {% endif %}
    </div>

    {% if site.subtitle %}
      <div class="col-8_xs-0_grid-center">
        <h2 id="site-title">{{ site.subtitle }}</h2>
      </div>
    {% endif %}
    {% if site.data.navigation %}
      <div class="nav-wrap">
        {% include nav.html role="navigation" %}
      </div>
    {% endif %}
  </div>
</header>
